In [3]:
import pandas as pd

df = pd.read_csv(
    r"C:\Users\user\OneDrive\Desktop\github projects\ecommerce-customer-churn\data\raw\online_retail_09_10.csv",
    encoding="ISO-8859-1"
)

df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
df.head()

,ï»¿invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/1/2009 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,12/1/2009 7:45,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,12/1/2009 7:45,1.25,13085.0,United Kingdom

In [9]:
# Clean and standardize column names
df.columns = (
    df.columns
      .str.replace('ï»¿', '', regex=False)  # remove BOM
      .str.strip()
      .str.lower()
)

# Rename columns to consistent names
df = df.rename(columns={
    'invoiceno': 'invoice',
    'invoicedate': 'invoice_date',
    'unitprice': 'price',
    'customerid': 'customer_id'
})

df.columns

Index(['invoice', 'stockcode', 'description', 'quantity', 'invoice_date',
       'price', 'customer_id', 'country'],
      dtype='object')

In [10]:
df = df.dropna(subset=['customer_id'])
df = df[df['quantity'] > 0]
df = df[df['price'] > 0]

df['invoice_date'] = pd.to_datetime(df['invoice_date'])
df['total_amount'] = df['quantity'] * df['price']

In [12]:
import os

os.makedirs("data/processed", exist_ok=True)

df.to_csv("data/processed/clean_transactions.csv", index=False)