In [1]:
import pandas as pd

df = pd.read_csv("data/processed/clean_transactions.csv")
df['invoice_date'] = pd.to_datetime(df['invoice_date'])

df.head()

,invoice,stockcode,description,quantity,invoice_date,price,customer_id,country,total_amount
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.4
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.8
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.0

In [2]:
snapshot_date = df['invoice_date'].max()
snapshot_date

Timestamp('2010-12-09 20:01:00')

In [3]:
last_purchase = (
    df.groupby('customer_id')['invoice_date']
    .max()
    .reset_index()
)

last_purchase['days_since_last_purchase'] = (
    snapshot_date - last_purchase['invoice_date']
).dt.days

last_purchase['churn'] = (
    last_purchase['days_since_last_purchase'] > 90
).astype(int)

last_purchase.head()

   customer_id        invoice_date  days_since_last_purchase  churn
0      12346.0 2010-06-28 13:53:00                       164      1
1      12347.0 2010-12-07 14:57:00                         2      0
2      12348.0 2010-09-27 14:59:00                        73      0
3      12349.0 2010-10-28 08:23:00                        42      0
4      12351.0 2010-11-29 15:23:00                        10      0

In [4]:
last_purchase['churn'].value_counts(normalize=True)

churn
0    0.669063
1    0.330937
Name: proportion, dtype: float64